<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="and5.abrar.jetpackcompose">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JetpackCompose"
        tools:targetApi="31">
        <activity
            android:name=".RecyclerViewLayout"
            android:exported="false"
            android:label="@string/title_activity_recycler_view_layout"
            android:theme="@style/Theme.JetpackCompose" />
        <activity
            android:name=".MainActivity2"
            android:exported="true"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.JetpackCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CardViewLayout"
            android:exported="false"
            android:label="@string/title_activity_card_view_layout"
            android:theme="@style/Theme.JetpackCompose" />
        <activity
            android:name=".ScrollViewLayout"
            android:exported="false"
            android:label="@string/title_activity_scroll_view_layout"
            android:theme="@style/Theme.JetpackCompose" />
        <activity
            android:name=".ColumnRowBoxLayout"
            android:exported="false"
            android:label="@string/title_activity_column_row_box_layout"
            android:theme="@style/Theme.JetpackCompose" />
        <activity
            android:name=".PaymentLayout"
            android:exported="false"
            android:label="@string/title_activity_payment_layout"
            android:theme="@style/Theme.JetpackCompose" />
        <activity
            android:name=".HitungLayout"
            android:exported="false"
            android:label="@string/title_activity_hitung_layout"
            android:theme="@style/Theme.JetpackCompose" />
        <activity
            android:name=".LoginLayout"
            android:exported="true"
            android:label="@string/title_activity_login_layout"
            android:theme="@style/Theme.JetpackCompose">

        </activity>
        <activity
            android:name=".InputLayout"
            android:exported="false"
            android:label="@string/title_activity_input_layout"
            android:theme="@style/Theme.JetpackCompose" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/Theme.JetpackCompose" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.JetpackCompose" />
    </application>

</manifest>